.swiper-button-next,
.swiper-button-prev {
    color: #f89223;
}

@media screen and (max-width: 600px) {

    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }
}

/* Pagination bullets color */
.swiper-pagination-bullet {
    background-color: #f89223;
}